/api/dist
/api/node_modules
/api/prisma/migrations

/client/dist
/client/node_modules
/client/.next

/fullStak-auth-nextjs EXEMPLE/dist
/fullStak-auth-nextjs EXEMPLE/node_modules
/fullStak-auth-nextjs EXEMPLE/.next
/fullStak-auth-nextjs EXEMPLE/.vscode